.grid {
  margin-bottom: 30px;
}

.header {
  margin-top: 30px;
  min-height: 60px; /*!!*/
  display: inline-block;
}

.headerButton {
  margin-left: 20px;
  margin-right: 20px;
}

.settings {
  position: absolute;
  top: 20px;
  right: 100px;
  margin-right: 5px;
  margin-top: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
